In [1]:
import pandas as pd
import numpy as np

In [2]:
#file to load 
file_to_load = "xmas_practice.csv"

In [3]:
#read the wine data

wine_data_df = pd.read_csv(file_to_load)
wine_data_df

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...,...,...
150925,150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [4]:
#calculate total wine entries

wine_count = wine_data_df["country"].count()

wine_count

150925

In [5]:
#dictionary of countries and number of wines per each 
wine_data_df['country'].value_counts().to_dict()

{'US': 62397,
 'Italy': 23478,
 'France': 21098,
 'Spain': 8268,
 'Chile': 5816,
 'Argentina': 5631,
 'Portugal': 5322,
 'Australia': 4957,
 'New Zealand': 3320,
 'Austria': 3057,
 'Germany': 2452,
 'South Africa': 2258,
 'Greece': 884,
 'Israel': 630,
 'Hungary': 231,
 'Canada': 196,
 'Romania': 139,
 'Slovenia': 94,
 'Uruguay': 92,
 'Croatia': 89,
 'Bulgaria': 77,
 'Moldova': 71,
 'Mexico': 63,
 'Turkey': 52,
 'Georgia': 43,
 'Lebanon': 37,
 'Cyprus': 31,
 'Brazil': 25,
 'Macedonia': 16,
 'Serbia': 14,
 'Morocco': 12,
 'England': 9,
 'Luxembourg': 9,
 'India': 8,
 'Lithuania': 8,
 'Czech Republic': 6,
 'Ukraine': 5,
 'Switzerland': 4,
 'South Korea': 4,
 'Bosnia and Herzegovina': 4,
 'Egypt': 3,
 'China': 3,
 'Slovakia': 3,
 'Tunisia': 2,
 'Japan': 2,
 'Albania': 2,
 'Montenegro': 2,
 'US-France': 1}

In [6]:
#are there any empty cells?
wine_data_df.isnull()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...
150925,False,False,False,True,False,False,False,False,True,False,False
150926,False,False,False,False,False,False,False,False,True,False,False
150927,False,False,False,False,False,False,False,False,True,False,False
150928,False,False,False,False,False,False,False,False,True,False,False
150929,False,False,False,True,False,False,False,False,True,False,False

In [7]:
len(wine_data_df["country"].unique())

49

In [8]:
average_wine_price = wine_data_df["price"].mean()
average_wine_price

33.13148249353299

In [9]:
expensive_wine = wine_data_df["price"] = 80
expensive_wine
#not sure what you are trying to do here but you are setting the entire price column
#to 80 as well as a random variable to 80... intentional?

80

In [10]:
#finding top wines prices

#note that you set all the prices to 80 above
top_wine = wine_data_df.sort_values(["price"], ascending=False)
#              ^            ^           ^            ^                
#          dataframe      function    column      ascending        
#            to             name        to           or            
#           sort                     sort by      descending      

top_wine.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,80,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
100632,100632,Italy,"This rosé sparkling wine boasts a pink, copper...",Brut Rosé,87,80,Lombardy,Franciacorta,NaN,Pinot Nero,Castelveder
100616,100616,US,100% Syrah from the same mix of vineyards as t...,NaN,90,80,Washington,Walla Walla Valley (WA),Columbia Valley,Syrah,Watermill
100617,100617,Italy,This is a pure expression of Cabernet Sauvigno...,Marchese di Villamarina,90,80,Sicily & Sardinia,Alghero,NaN,Cabernet Sauvignon,Sella & Mosca
100618,100618,US,"The residual sugar is 2.5%, keeping the alcoho...",NaN,90,80,Washington,Columbia Valley (WA),Columbia Valley,Riesling,Seven Hills

In [11]:
#how to create country level dataframes 
usDF = wine_data_df.loc[wine_data_df['country'] == 'US']
#          ^         ^              ^            
#      dataframe   locate         where to look*
#                 something

#* ill go over this more during our session
usDF.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,80,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,80,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,80,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
8,8,US,This re-named vineyard was formerly bottled as...,Silice,95,80,Oregon,Chehalem Mountains,Willamette Valley,Pinot Noir,Bergström
9,9,US,The producer sources from two blocks of the vi...,Gap's Crown Vineyard,95,80,California,Sonoma Coast,Sonoma,Pinot Noir,Blue Farm

In [12]:
#how to create a sub dataframe 
usTrimmed = usDF[["country", "points", "price", "variety"]]
usTrimmed.head()

  country  points  price             variety
0      US      96     80  Cabernet Sauvignon
2      US      96     80     Sauvignon Blanc
3      US      96     80          Pinot Noir
8      US      95     80          Pinot Noir
9      US      95     80          Pinot Noir

In [13]:
#how to use the sort by and unique function 
usPriceSort = usTrimmed.sort_values("points", ascending = False)
usPriceSort.head(15)

       country  points  price             variety
143522      US     100     80      Cabernet Blend
92916       US     100     80  Cabernet Sauvignon
137099      US     100     80  Cabernet Sauvignon
119194      US     100     80               Syrah
89399       US     100     80  Cabernet Sauvignon
84034       US     100     80               Syrah
19354       US     100     80               Syrah
98647       US     100     80          Pinot Noir
122767      US     100     80          Pinot Noir
114272      US     100     80      Cabernet Blend
127492      US      99     80  Cabernet Sauvignon
84036       US      99     80               Syrah
90439       US      99     80  Cabernet Sauvignon
90438       US      99     80           Red Blend
42798       US      99     80          Pinot Noir

In [14]:
#unique gives us all of the.... unique values in a certain column
usPriceSort['variety'].unique()
#in this case a long list of all the varieties

array(['Cabernet Blend', 'Cabernet Sauvignon', 'Syrah', 'Pinot Noir',
       'Red Blend', 'Sparkling Blend', 'Bordeaux-style Red Blend',
       'Chardonnay', 'Champagne Blend', 'Merlot',
       'Semillon-Sauvignon Blanc', 'Zinfandel', 'Muscat',
       'Cabernet Sauvignon-Syrah', 'Cabernet Sauvignon-Merlot', 'Mission',
       'Sauvignon Blanc', 'White Blend', 'Shiraz', 'G-S-M', 'Fumé Blanc',
       'Viognier', 'Riesling', 'Scheurebe', 'Grenache', 'Gewürztraminer',
       'Moscato', 'Sémillon', 'Cabernet Franc', 'White Riesling',
       'Rhône-style Red Blend', 'Rosé', 'Tempranillo', 'Cabernet',
       'Grenache Blend', 'Bordeaux-style White Blend', 'Petite Sirah',
       'Petit Verdot', 'Sangiovese', 'Syrah-Petite Sirah', 'Malbec',
       'Primitivo', 'Port', 'Meritage', 'Viognier-Roussanne',
       'Merlot-Cabernet Sauvignon', 'Muscat Blanc',
       'Rhône-style White Blend', 'Claret', 'Nebbiolo', 'Pinot Gris',
       'Roussanne', 'Chenin Blanc', 'Sauvignon Gris',
       'Merlot-Cabernet Franc', 'Moscato Giallo', 'Pinot Blanc',
       'Mourvèdre', 'Vermentino', 'Charbono', 'Albariño',
       'Syrah-Viognier', 'Sangiovese-Syrah', 'Cabernet Merlot',
       'Syrah-Cabernet', 'Grüner Veltliner', 'Orange Muscat', 'Garnacha',
       'Cinsault', 'Sauvignon Blanc-Semillon', 'Syrah-Cabernet Sauvignon',
       'Dornfelder', 'Cabernet Sauvignon-Sangiovese',
       'Tempranillo-Cabernet Sauvignon', 'Cabernet Sauvignon-Malbec',
       'Johannisberg Riesling', 'Marsanne-Viognier', 'Marsanne-Roussanne',
       'Roussanne-Viognier', 'Cabernet Franc-Merlot',
       'Cabernet Sauvignon-Cabernet Franc', 'Trousseau Gris',
       'Tocai Friulano', 'Mondeuse', 'Chardonnay-Albariño',
       'Black Muscat', 'Merlot-Cabernet', 'Muscat Canelli', 'Barbera',
       'Tannat', 'Graciano', 'Petite Verdot', 'Vidal Blanc',
       'Black Monukka', 'Grenache Blanc', 'Teroldego', 'Carignane',
       'Alicante Bouschet', 'Marsanne', 'Grenache-Syrah',
       'Syrah-Cabernet Franc', 'Malvasia Bianca', 'Syrah-Tempranillo',
       'Monastrell', 'Lagrein', 'Pinot Grigio', 'Cabernet-Syrah',
       'Roussanne-Grenache Blanc', 'Viognier-Marsanne',
       'Cabernet Sauvignon-Carmenère', 'Viognier-Grenache Blanc',
       'Pinot Meunier', 'Carmenère', 'Malbec-Tannat', 'Lemberger',
       'Chardonnay-Semillon', 'Tempranillo Blend', 'Carignan',
       'Syrah-Mourvèdre', 'Counoise', 'Negroamaro', 'Blaufränkisch',
       'Syrah-Grenache', 'Dolcetto', 'Chardonnay-Viognier',
       'Tempranillo-Malbec', 'Mataro', 'Pinot-Chardonnay',
       'Petit Manseng', 'Auxerrois', 'Morio Muskat', 'Edelzwicker',
       'Pinotage', 'Cabernet Franc-Malbec', 'Torrontés', 'Gamay Noir',
       'Roussanne-Marsanne', 'Valdiguié', 'Ugni Blanc', 'Grenache-Shiraz',
       'Rkatsiteli', 'Colombard', 'Vignoles', 'Touriga Nacional',
       'Zweigelt', 'Chenin Blanc-Viognier', 'Apple', 'Debit', 'Arneis',
       'Maréchal Foch', 'Muskat Ottonel', 'Montepulciano', 'Verdelho',
       'Refosco', 'Pinot Auxerrois', 'Gewürztraminer-Riesling',
       'Sangiovese-Cabernet Sauvignon', 'Pinot Noir-Syrah',
       'Müller-Thurgau', 'Saperavi', 'Aligoté', 'Syrah-Merlot', 'Cortese',
       'Carignan-Grenache', 'Madeira Blend', 'Picpoul', 'Vernaccia',
       'Siegerrebe', 'Aglianico', 'Baco Noir', 'Malbec-Merlot',
       'Angevine', 'Grenache-Carignan', 'Grenache-Mourvèdre', 'Sylvaner',
       'Traminette', 'Merlot-Malbec', 'Semillon-Chardonnay',
       'Malbec-Syrah', "Muscat d'Alexandrie", 'Cabernet Sauvignon-Shiraz',
       'Chambourcin', 'Petite Syrah', 'Sangiovese Grosso',
       'Pinot Grigio-Sauvignon Blanc', 'Norton', 'Sagrantino',
       'Shiraz-Viognier', 'Pinot Nero', 'Pinot Blanc-Chardonnay',
       'Seyval Blanc', 'Madeleine Angevine', 'Rosato', 'Melon',
       'Touriga Franca', "Nero d'Avola", 'Sherry', 'St. Vincent',
       'Symphony', 'Sangiovese Cabernet', 'Sauvignon Musqué', 'Cayuga',
       'Merlot-Syrah', 'Shiraz-Cabernet Sauvignon', 'Cabernet Pfeffer',
       'Jacquez', 'Traminer', 'Pinot Grigio-Chardonnay',
       'Viognier-Chardonnay', 'Alvarelhão', 'Viognier-Valdiguié', 'Fiano',
       'Merlot-Petite Verdot', 'Chardonnay-Pinot Gris', 'Chardonel',
       'Chardonelle', 'Verdejo', 'Aleatico'], dtype=object)

In [15]:
#slightly different to unique is value_counts
usPriceSort['variety'].value_counts()
#it returns all the varieties... but also the amount of each... these come in the form of key value pairs so you can do...

Pinot Noir              10340
Cabernet Sauvignon       9178
Chardonnay               8127
Syrah                    4274
Zinfandel                3789
                        ...
Merlot-Petite Verdot        1
Pinot-Chardonnay            1
Muskat Ottonel              1
Refosco                     1
Viognier-Chardonnay         1
Name: variety, Length: 218, dtype: int64

In [16]:
usPriceSort['variety'].value_counts()['Syrah']
#and this will give us the count of how many Syrah's there are

4274

In [17]:
#how to separate values from one column into two columns 
split = usPriceSort["variety"].str.split(" ", n = 1, expand = True)
usSplit = usPriceSort
usSplit['variety1'] = split[0]
usSplit['variety2'] = split[1]
usSplit.head()

       country  points  price             variety  variety1   variety2
143522      US     100     80      Cabernet Blend  Cabernet      Blend
92916       US     100     80  Cabernet Sauvignon  Cabernet  Sauvignon
137099      US     100     80  Cabernet Sauvignon  Cabernet  Sauvignon
119194      US     100     80               Syrah     Syrah       None
89399       US     100     80  Cabernet Sauvignon  Cabernet  Sauvignon

In [18]:
#do we use if statements in pandas? or just for loops?

typically iterating through pandas isnt that great... there are normally ways to do things without having to loop... see above for splitting the variety... we didnt have to loop through all the rows and calculate off of it we just did operations and they returned a series that we used in the df

In [19]:
#how to filter inside a dataframe 

#usDF = wine_data_df.loc[wine_data_df['country'] == 'US']
#filter like we did above? or some other kind of filter?